header {
  background-color: #227563;
  text-align: center;
  color: white;
  padding: 10px;
}

nav {
  background-color: #52b9a8a8;
  text-align: center;
  padding: 10px;
}

nav a {
  margin: 0 15px;
  color: #163a31;
  font-weight: bold;
}

body {
  background-color: #f2f2f2;
  padding: 20px;
  font-size: 20px;
}

.caja {
  width: 300px;
  height: 150px;
  background-color: #46a76e;
}

.caja2 {
  width: 300px;
  height: 150px;
  background-color: #a52ea5;
  padding: 20px;
}

.caja3 {
  width: 300px;
  height: 150px;
  background-color: #ade6e6;
  padding: 20px;
  border: 4px solid blue;
}

.caja4 {
  width: 300px;
  height: 150px;
  background-color: #ad5555;
  padding: 20px;
  margin: 40px;
}
